@media (min-width: 600px) {
  header {
    display: flex;
    font-size: 1.5rem;
  }

  header .logo{
    position: absolute;
    margin-left: calc(50% - 40px);
  }

  header .menu{
    width: calc(100% - (50% + 40px));
    padding-left: 40px;
  }

  .menu div{
    margin-left: 0px;
  }

  .poster{
    height: 25pc;
  }

  .title1{
      font-size: 1.5rem;
  }

  .card-container{
    display: flex;
    align-items: center;
  }

  .card{
      width: 30%;
     height: 13pc;
  }

  footer {
    bottom: 0px;
  }

  .logos figure {
    width: 40px;
    height: 40px;
  }

  .social-media figure{
    width: 40px;
    height: 40px; 
  }
}
