@media (min-width: 600px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  footer {
    position: absolute;
    bottom: 0px;
  }

  .title1{
      font-size: 1.5rem;
  }

  .card-container{
    display: flex;
    align-items: center;
  }

  .card{
      width: 22%;
  }
}
